<%= form_for(@statement) do |f| %>
    <% if @statement.errors.any? %>
        <div class="alert alert-danger alert-dismissable" role="alert">
          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
          </button>
          <h2><%= pluralize(@statement.errors.count, "error") %> prohibited this statement from being saved:</h2>

          <ul>
            <% @statement.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="well">
          <%= f.file_field :attachment %>
          <%= f.submit "Save", class: "btn btn-primary" %>
    </div>
<% end %>