<% if !flash[:notice].blank? %>
    <div class="alert alert-info">
      <%= flash[:notice] %>
    </div>
<% end %>

<br/>

<%= link_to "New Statement", new_statement_path, class: "btn btn-primary" %>
<br/>
<br/>

<table class="table table-bordered table-striped">
  <thead>.
  <tr>
    <th>Name</th>
    <th>Download Link</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @statements.each do |s| %>
      <tr>
        <td><%= s.attachment.name %></td>
        <td><%= link_to "Download Statement", s.attachment.url %></td>
        <td><%= button_to "Delete", s, method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete
          #{s.attachment.url}?" %>
        </td>
      </tr>

  <% end %>
  </tbody>

</table>